<launch>

  <machine name="omnimaxbot" address="omnimaxbot" env-loader="~/catkin_ws/src/omnimaxbot/omnimaxbot_control/ros_env.sh" user="marslab"/>

  <!-- Launch the front laser limiter -->
  <node machine="omnimaxbot" pkg="laser_limiters" type="front_laser_limiter_node" name="front_laser_limiter" respawn="true">
  </node>
	
</launch>
