<launch>
  <node pkg="LMS1xx" type="LMS100" name="front_laser" respawn="true" output="screen">
    <param name="host" value="192.168.1.2"/>
    <param name="frame_id" value="front_laser"/>
  </node>

  <node pkg="LMS1xx" type="LMS100" name="rear_laser" respawn="true" output="screen">
    <param name="host" value="192.168.1.3"/>
    <param name="frame_id" value="rear_laser"/>
  </node>

  <node pkg="ax2550" type="omni_odom" name="raw_odometry" output="screen"/>

  <node pkg="omnibot_description" type="tf_broadcaster" name="omnibot_description" output="screen"/>
</launch>
