<launch>

  <machine name="omnimaxbot" address="omnimaxbot" env-loader="~/catkin_ws/src/omnimaxbot/omnimaxbot_control/ros_env.sh" user="marslab"/>
  
	<node machine="omnimaxbot" pkg="ar_sys" type="single_board" name="ar_single_board" output="screen">
		<remap from="/camera_info" to="/stereo_camera/right/camera_info" />
		<remap from="/image" to="/stereo_camera/right/image_rect_color" />
    <remap from="/transform" to="/tf" />
		<param name="image_is_rectified" type="bool" value="true"/>
		<param name="marker_size" type="double" value="0.086"/>
		<param name="board_config" type="string" value="$(find ar_sys)/data/single/board.yml"/>
		<param name="board_frame" type="string" value="/board1" />
		<param name="draw_markers" type="bool" value="true" />
		<param name="draw_markers_cube" type="bool" value="true" />
		<param name="draw_markers_axis" type="bool" value="false" />
	</node>

	<node pkg="image_view" type="image_view" name="image_view" output="screen">
		<remap from="image" to="/ar_single_board/result" />
		<param name="autosize" type="bool" value="true" />
	</node>

</launch>

