<launch>

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="device_id" value="A00366A14998046A"/>
  </include>

  <!-- Launch ar_sys for drop location detection -->
  <node machine="omnimaxbot" pkg="ar_sys" type="single_board" name="drop_ar_sys" output="screen" ns="drop_ar_sys">
    <remap from="/camera_info" to="/camera/rgb/camera_info" />
    <remap from="/image" to="/camera/rgb/image_rect_color" />
    <remap from="/transform" to="/tf" />
    <param name="image_is_rectified" type="bool" value="true"/>
    <param name="marker_size" type="double" value="0.1235"/>
    <param name="board_config" type="string" value="$(find ar_sys)/data/single/board.yml"/>
    <param name="board_frame" type="string" value="/board1" />
    <param name="draw_markers" type="bool" value="true" />
    <param name="draw_markers_cube" type="bool" value="true" />
    <param name="draw_markers_axis" type="bool" value="false" />
  </node>
  
</launch>
