<launch>

  <!-- Launch the robot's transforms -->
  <node pkg="omnimaxbot_description" type="tf_broadcaster" name="tf_broadcaster" respawn="true"/>
  
  <!--Launch the front laser sensor -->
  <node pkg="lms1xx" type="LMS1xx_front_node" name="front_laser" respawn="true"> 
    <param name="host" value="192.168.1.2"/>
    <param name="frame_id" value="front_laser"/>
  </node>

  <!-- Launch rviz for laser odom -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find omnimaxbot_2d_nav)/rviz/test.rviz" respawn="false"/>

  <!-- Launch laser scan matcher to simulate odom -->
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node">
    <rosparam file="$(find omnimaxbot_2d_nav)/config/laser_scan_matcher_config.yaml" command="load"/>
  </node>
  
  <!-- Simulate odometry msg from scan matcher -->
  <node pkg="omnimaxbot_control" type="laser_scan_odom_node" name="laser_scan_odom_node"/>
	
  <node pkg="map_server" type="map_server" name="map_server" args="/home/nick/my_map.yaml"/>
  
  <!-- Launch AMCL -->
  <include file="$(find omnimaxbot_2d_nav)/launch/amcl_local.launch"/>
	
</launch>
