<launch>

  <machine name="omnimaxbot" address="omnimaxbot" env-loader="~/catkin_ws/src/omnimaxbot/omnimaxbot_control/ros_env.sh" user="marslab"/>

  <!-- Launch the robot's transforms -->
  <node machine="omnimaxbot" pkg="omnimaxbot_description" type="tf_broadcaster" name="tf_broadcaster" respawn="true"/>

  <!-- Launch the robot's kinematics and motor drivers -->
  <include file="$(find ax2550)/launch/ax2550.launch"/>
  
  <!-- Launch joystick control -->
  <include file="$(find omnimaxbot_teleop)/launch/teleop.launch"/>
  
  <!-- Connect to IMU through Arduino -->
  <node machine="omnimaxbot" pkg="rosserial_python" type="serial_node.py" name="ros_arduino_imu" output="screen" respawn="true">
    <param name="~port" value="/dev/ttyACM0" />
    <param name="~baud" value="115200" />
  </node> 

  <!-- Get raw IMU data -->
  <node machine="omnimaxbot" pkg="ros_arduino_imu" type="raw_imu_bridge_node" name="raw_imu_bridge" output="screen" respawn="false" />

  <!-- Filter IMU data -->
  <node machine="omnimaxbot" pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" />
  
  <!--Launch the front laser sensor -->
  <node machine="omnimaxbot" pkg="lms1xx" type="LMS1xx_node_front" name="front_laser" respawn="true">
    <param name="host" value="192.168.1.2"/>
    <param name="frame_id" value="front_laser"/>
  </node>
	
  <!-- Launch robot pose ekf -->
  <node machine="omnimaxbot" pkg="robot_pose_ekf" name="robot_pose_ekf" type="robot_pose_ekf">
    <remap from="odom" to="/omni_odom"/>
    <remap from="imu_data" to="/imu/data"/>
    <rosparam file="$(find omnimaxbot_2d_nav)/config/ekf_params.yaml"/>
    <remap from="robot_pose_ekf/odom_combined" to="/odom"/>
  </node>

  <!-- Load the map -->	
  <node machine="omnimaxbot" pkg="map_server" type="map_server" name="map_server" args="/home/nick/my_map.yaml"/>
  
  <!-- Launch AMCL -->
  <include file="$(find omnimaxbot_2d_nav)/launch/amcl.launch"/>

  <!-- Launch move base -->
  <node machine="omnimaxbot" pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
    <rosparam file="$(find omnimaxbot_2d_nav)/config/move_base_params/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find omnimaxbot_2d_nav)/config/move_base_params/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find omnimaxbot_2d_nav)/config/move_base_params/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find omnimaxbot_2d_nav)/config/move_base_params/global_costmap_params.yaml" command="load"/>
    <!-- <rosparam file="$(find omnimaxbot_2d_nav)/config/move_base_params/base_local_planner_params.yaml" command="load"/> -->
    <rosparam file="$(find omnimaxbot_2d_nav)/config/move_base_params/dwa_local_planner_params.yaml" command="load"/>
    <remap from="/cmd_vel" to="/omni_cmd_vel" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
  </node>

  <!-- Launch rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find omnimaxbot_2d_nav)/rviz/test.rviz" respawn="false"/>
	
</launch>
